/*
html{background-color: #fff;margin: 0px;}body{font-family: 'Source Sans Pro', sans-serif;margin: 40px auto;max-width: 960px;line-height: 1.5;font-size: .8em;}h1{font-family: 'Roboto Condensed', sans-serif;font-weight: 400;}.content{font-size: 20px;}
a{text-decoration:none;}
*/

.autoanno_vocabulary.autoanno_tooltip:hover{
	color: red;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
}

 
.tooltip .popuptext {
    visibility: hidden;
    width: 620px;
    top: 100%;
    background-color: #ffcc66;
    color: black;

    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 

    position: absolute;
    z-index: 1;
}


.tooltip:hover .popuptext {
    visibility: visible;
}

